@import "tailwindcss";

:root {
  --card: #f5f8fa;
  --ring: #4288c9;
  --input: #a7adb4;
  --muted: #dee6ed;
  --accent: #dce3e9;
  --border: #d4dadb;
  --radius: 0.5rem;
  --chart-1: #3065b0;
  --chart-2: #87a7f5;
  --chart-3: #c4ced8;
  --chart-4: #d3def0;
  --chart-5: #2d5bb4;
  --popover: #ffffff;
  --primary: #4288c9;
  --sidebar: #eef2f5;
  --spacing: 0.25rem;
  --font-mono: monospace;
  --font-sans: Inter, sans-serif;
  --secondary: #dce3e9;
  --background: #f1f1f1;
  --font-serif: Georgia, serif;
  --foreground: #29323d;
  --destructive: #131514;
  --shadow-blur: 4px;
  --shadow-color: #000000;
  --sidebar-ring: #b5b5b5;
  --shadow-spread: 0px;
  --letter-spacing: -0.01em;
  --shadow-opacity: 0.1;
  --sidebar-accent: #dce3e9;
  --sidebar-border: #ebebeb;
  --card-foreground: #131814;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --sidebar-primary: #4288c9;
  --muted-foreground: #7d8283;
  --accent-foreground: #1b2328;
  --popover-foreground: #1b2328;
  --primary-foreground: #ffffff;
  --sidebar-foreground: #3a3d3d;
  --secondary-foreground: #464e53;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #343434;
  --sidebar-primary-foreground: #fbfbfb;
}

.dark {
  --card: #242526;
  --ring: #5795d9;
  --input: #4a4e52;
  --muted: #191a1b;
  --accent: #15171a;
  --border: #383b3e;
  --radius: 0.5rem;
  --chart-1: #3065b0;
  --chart-2: #87a7f5;
  --chart-3: #15171a;
  --chart-4: #2b3848;
  --chart-5: #2d5bb4;
  --popover: #2e2f30;
  --primary: #5795d9;
  --sidebar: #1d1e1f;
  --spacing: 0.25rem;
  --font-mono: monospace;
  --font-sans: Inter, sans-serif;
  --secondary: #f5f8fa;
  --background: #111111;
  --font-serif: Georgia, serif;
  --foreground: #b6bbc3;
  --destructive: #ef4444;
  --shadow-blur: 8px;
  --shadow-color: #000000;
  --sidebar-ring: #b5b5b5;
  --shadow-spread: 0px;
  --letter-spacing: -0.01em;
  --shadow-opacity: 0.3;
  --sidebar-accent: #0e0f0f;
  --sidebar-border: #ebebeb;
  --card-foreground: #f5f7fa;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --sidebar-primary: #343434;
  --muted-foreground: #a9b1b7;
  --accent-foreground: #eef2f5;
  --popover-foreground: #e2e4e5;
  --primary-foreground: #ffffff;
  --sidebar-foreground: #b6bbc3;
  --secondary-foreground: #2e2f30;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #b6bbc3;
  --sidebar-primary-foreground: #fbfbfb;
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-sidebar: var(--sidebar);
  --color-spacing: var(--spacing);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-shadow-blur: var(--shadow-blur);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-shadow-spread: var(--shadow-spread);
  --color-letter-spacing: var(--letter-spacing);
  --color-shadow-opacity: var(--shadow-opacity);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-card-foreground: var(--card-foreground);
  --color-shadow-offset-x: var(--shadow-offset-x);
  --color-shadow-offset-y: var(--shadow-offset-y);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
}
